@import "variables";

.app{
  min-height: 100vh;
  display: grid;
  grid-template-areas:
          "sidebar header"
          "sidebar main"
          "sidebar footer";
  grid-template-rows: 64px 1fr 62px;
  grid-template-columns: 242px;
  background-color: $bg-secondary;
}

.header{
  grid-area: header;
  background-color: $bg-primary;
  border-bottom: 1px solid $border-primary;
}

.sidebar{
  grid-area: sidebar;
  background-color: $bg-primary;
  border-right: 1px solid $border-primary;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
  background-color: $bg-primary-rgba;

}