@import "variables";
@import "mixins";

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;

  //flex-direction: column;
  //box-sizing: border-box;
  //padding: 10px 0;
}

.main-menu{
  .item{

  }

  .link{
    @include addFont($font-primary, $font-size-S);
    display: flex;
    align-items: center;
    border-left: 1px solid transparent;

    height: 64px;
    padding: 0 28px;

    text-decoration: none;
    color: $text-primary;
    text-transform: uppercase;

    &.active, &:hover, &:focus{
      background-color: $bg-secondary;
      font-weight: 500;
      border-color: $border-secondary;

      i{
        color: $text-secondary;
      }
    }

    span{
      display: block;
      @include eclipse;
    }

    i{
      font-size: $font-size-XXL;
      margin-right: 18px;
    }
  }
}
