@import "variables";
@import "mixins";

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;

  //flex-direction: column;
  //box-sizing: border-box;
  //padding: 10px 0;
}

.main-menu{
  .item{

  }

  .link{
    text-decoration: none;
    color: $link-primary;
    @include addFont($font-primary, $font-size-S);
  }
}