$c-color1: #fff;
$c-color1-rgba: rgba(255,255,255,0.64);
$c-color2: #F8FAFB;
$c-color3: #E8ECEF;
$c-color4: #778CA2;
$c-color5: #4D7CFE;
$c-color6: #98A9BC;
$c-color7: #FE4D97;
$c-color8: #6DD230;
$c-color9: #2CE5F6;
$c-color10: #FFAB2B;

$text-primary: $c-color4;
$text-secondary: $c-color5;

$bg-primary: $c-color1;
$bg-primary-rgba: $c-color1;
$bg-secondary: $c-color2;

$border-primary: $c-color3;
$border-secondary: $c-color5;
$border-third: $c-color7;
$border-forth: $c-color8;
$border-fifth: $c-color9;
$border-sixth: $c-color10;

$title-primary: $c-color6;

$font-primary:'Rubik', sans-serif;
$font-secondary:'Roboto', sans-serif;

$font-size-XXL: 22px;
$font-size-XL: 20px;
$font-size-L: 18px;
$font-size-M: 16px;
$font-size-S: 14px;
$font-size-XS: 12px;